.containerNewPackage {
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.newPackageH1 {
  text-align: center;
}

.formNewPackge {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputNewPackge {
  width: 100%;
  height: 7vh;
  padding: 1%;
  margin-top: 1%;
  border: 1px solid rgba(128, 128, 128, 0.429);
}

.inputNewPackge:hover {
  border: 1px solid #d19750b6;
}

.btnNewPackge {
  width: 100%;
  height: 7vh;
  border: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btnNewPackge:hover {
  transition: 0.3s ease-in-out;
  background-color: #d19750b6;
}

.newPackageInputs {
  display: flex;
  width: 100%;
  margin: 2% 0;
}

.h2AndPNewPAckage {
  width: 35%;
}

.divInputNewPackage {
  width: 65%;
}

.butnNewPackage {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.divSubmitNewPackge {
  width: 45%;
}

.dibDoneNewPackge {
  width: 45%;
}

.divPNewPackge {
  padding-left: 2%;
}

.pCreateNewP {
  margin-top: 1%;
  font-size: 2vh;
}
