.aboutus {
  text-align: center;
  margin-bottom: 9%;
  padding: 1%;
  position: relative;
  height: 100vh;
}

.imgAbout {
  width: 80%;
  height: 55vh;
}

.pAbout {
  font-size: 3vh;
  margin-top: 1%;
}

.aboutDiv {
  position: absolute;
  top: 19%;
}
.ourMission {
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 2;
  z-index: 1;
  width: 98%;
  color: white;
  background-color: #bf8c4c;
}

@media only screen and (max-height: 627px) {
  .aboutus {
    height: 100vh;
    margin-left: 12%;
  }

  .imgAbout {
    width: 50vh;
  }

  .ourMission {
    font-size: 2vh;
    width: 100%;
  }

  .pAbout {
    font-size: 15px;
  }
}
