.divConfirm {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.formConfirm {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

.inputCode {
  text-align: center;
  height: 2.5rem;
}

.submitConfirm {
  cursor: pointer;
  background-color: rgba(1, 80, 252, 0.603);
  border: 0;
  transition: 0.3s ease-in-out;
  height: 2.5rem;
  margin-top: 5px;
}

.submitConfirm:hover {
  transition: 0.3s ease-in-out;
  background-color: rgba(1, 80, 252, 0.705);
}
