.notLogin {
  height: 42.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btnNotLogin {
  width: 30%;
  background-color: #bf8c4c;
  border: none;
  height: 6.5vh;
  color: white;
  cursor: pointer;
}

.containerAccount {
  padding: 5%;
}

#accountPackage {
  background-image: url("/public/test\ \(9\).png");
  background-size: cover;
  background-repeat: no-repeat;
}

.avatar {
  width: 30vh;
  height: 30vh;
  border-radius: 100%;
}

.avatarAndName {
  display: flex;
  gap: 2vh;
}

.nameAndUsernmae {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 5vh;
}

.infoAndEdit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}

.editProfile {
  border: none;
  width: 20vh;
  height: 6vh;
  background-color: #bf8c4c;
  color: white;
  font-size: 3vh;
  cursor: pointer;
}

.divBio {
  padding: 1%;
  text-align: center;
}

.newBioInput {
  width: 100%;
  height: 25vh;
  text-align: center;
  font-size: 2vh;
}

#newName {
  padding: 5%;
  color: gray;
  height: 6vh;
  font-size: 3vh;
}

#newBio {
  color: gray;
}

.divEmail {
  border: 1px solid rgba(0, 0, 0, 0.19);
  text-align: left;
  padding: 2%;
  width: 50%;
  transition: 0.3s ease-in-out;
  min-height: 45vh;
}

.divEmail:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
}

.emailPH2 {
  display: flex;
  gap: 1rem;
}

.email {
  font-size: 3.5vh;
}

.divEMailP {
  margin-top: 4%;
  border-top: 1px solid rgba(0, 0, 0, 0.19);
}

.totalAccount {
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin-top: 2rem;
  color: #bf8c4c;
}

.h2Div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.h2Total {
  font-size: 6vh;
}

.avatarWithEdit {
  border: 1px solid black;
}

.divNewaAvatar {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.avatarWithEdit {
  width: 100%;
}

.divAvatar {
  width: 40%;
}

.divEditAvatar {
  width: 15%;
  position: absolute;
  margin-top: 1%;
}

.uploadLabelAccount {
  display: flex;
}

.chooseFile {
  color: white;
}

.uploadLabelAccount input {
  border: none;
}

.progress {
  width: 100%;
}

.uploadBtn {
  width: 100%;
  border: none;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.uploadBtn:hover {
  transition: 0.3s ease-in-out;
  background-color: #d6a364;
}

.divBio {
  border: 1px solid rgba(0, 0, 0, 0.19);
  text-align: left;
  padding: 2%;
  width: 50%;
  transition: 0.3s ease-in-out;
}

.divBio:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.02);
}

.divBio2 {
  border-top: 1px solid rgba(0, 0, 0, 0.19);
}

.bioP {
  margin-top: 4%;
  width: 90%;
}

.bioAndEMmil {
  display: flex;
  gap: 2rem;
  margin-top: 5%;
  margin-bottom: 5%;
}

.uploadLabelAccount {
  display: flex;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.143);
  cursor: pointer;
  font-size: 2.4vh;
  transition: 0.3s ease-in-out;
  margin-bottom: 2%;
}

.uploadLabelAccount:hover {
  transition: 0.3s ease-in-out;
  background-color: #d6a364;
}

.havntPosted {
  margin-top: -12%;
}

#haventPackage {
  margin-top: 0%;
}

@media only screen and (max-height: 627px) {
  .avatar {
    width: 15vh;
    height: 15vh;
  }

  .nameAndUsernmae {
    font-size: 2vh;
  }

  .editProfile {
    width: 12vh;
    font-size: 2.5vh;
  }
  .email {
    font-size: 2vh;
  }

  .h2Email {
    font-size: 2vh;
  }

  .bioH2 {
    font-size: 2vh;
  }

  .bioP {
    font-size: 1vh;
  }

  .h2Total {
    font-size: 3vh;
  }

  .totalAccount {
    gap: 0rem;
  }
  .divEditAvatar {
    width: 20%;
    margin-top: -17%;
  }

  .uploadLabelAccount {
    font-size: 1vh;
    width: 15vh;
    background-color: rgb(230, 230, 230);
  }

  .chooseFile {
    font-size: 1vh;
  }

  .uploadLabelAccount input {
    font-size: 1vh;
  }

  .progress {
    width: 100%;
  }

  .uploadBtn {
    font-size: 1vh;
    width: 15vh;
  }

  .editProfile {
    font-size: 2vh;
  }

  #newName {
    height: 4vh;
    font-size: 2vh;
  }

  .newBioInput {
    font-size: 1vh;
  }

  #accountPackage {
  }

  #amountackageAccount {
    font-size: 2vh;
  }

  #divAllPackgeAccount {
    display: flex;
    flex-direction: column;
  }

  #titlePackageAccount {
    font-size: 2vh;
  }

  .divDEscribePAckegeACcount {
    width: 23vh;
  }

  #describePackageAccount {
    font-size: 1vh;
  }

  #divAddOneAccount {
    width: 8vh;
  }

  #addOneAccount {
    font-size: 2vh;
  }

  #arrivePackageAccount {
    font-size: 2vh;
  }

  #arrivePackage {
    font-size: 1.8vh;
  }

  #accountProject {
    display: flex;
    flex-direction: column;
  }

  #projectAccount {
    width: 55vh;
  }

  .havntPosted {
    font-size: 2vh;
    width: 25vh;
  }

  .notLogin {
    height: 63vh;
  }
}
