.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 7rem;
  padding: 5%;
}

#accountProject {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.divSearchInput {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.inputSearch {
  width: 90%;
  height: 8vh;
  padding: 1%;
}

.divBtnDelete {
  padding-right: 5%;
  padding-bottom: 5%;
  float: right;
}

.btnDelete {
  border: none;
  width: 15vh;
  height: 5vh;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btnDelete:hover {
  transition: 0.3s ease-in-out;
  background-color: rgba(255, 0, 0, 0.612);
}

@media only screen and (max-height: 627px) {
  
  #allProjects {
    display: flex;
    flex-direction: column;
    margin-left: 7%;
  }
}
