.containerInfoProject {
  display: flex;
  padding: 5%;
  justify-content: space-around;
}

.pDescribeInfo {
  font-size: 18px;
}

.divTitleProject {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1Title {
  border-bottom: 1px solid #bf8c4c;
  width: max-content;
}

.imgProjectInfo {
  width: 110vh;
  height: 65vh;
}

.divGPD {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25%;
  font-size: 5.5vh;
  border-top: 3px solid #bf8c4c;
}

.pDeadline {
  font-size: 11px;
  margin-top: -12%;
}

.divDonateBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.btnDonate {
  width: 100%;
  height: 8vh;
  background-color: #bf8c4c;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-size: 4vh;
  color: white;
}

.btnDonate:hover {
  background-color: #cc8c3d;
  transition: 0.3s ease-in-out;
}

.pLocation {
  text-decoration: underline;
}

.pKind {
  text-decoration: underline;
}

.divLK {
  display: flex;
  gap: 2rem;
}

.divBtnsCC {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.divBtnCompaign {
  width: 40.4%;
}

.divBtnComments {
  width: 40.4%;
}

.btnCC {
  width: 100%;
  height: 10vh;
  font-size: 4.5vh;
  background-color: #bf8c4c;
  color: white;
  border: none;
  cursor: pointer;
}

/* Compaign */

.containerProjectInfo {
  padding: 8%;
}

.divProjectPinfo {
  /* text-align: center; */
  margin-bottom: 4%;
  font-size: 18px;
}

.divInfoProjectImg {
  display: flex;
  justify-content: center;
  height: 70vh;
  margin-bottom: 4%;
}


.divTitle {
  display: flex;
  justify-content: center;
  height: 80vh;
}