.containerPackages {
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3rem;
  align-items: center;
}

#accountPackges {
  /* padding: 2% ; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3rem;
  align-items: center;
}

.divSelectPackage {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2%;
}

.packagesDomnationsH2 {
  text-align: center;
  margin-top: 5%;
}

.divPackages {
  width: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.333);
  transition: transform 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding: 2%;
  margin-bottom: 5%;
  border: 1px solid rgba(128, 128, 128, 0.582);
  /* padding: 7%; */
}

.pledgedTitlePackage {
  padding: 5%;
}

.divPackages:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
}

.packageTitle {
  margin-bottom: 5%;
}

.packageDescribe {
  margin-top: 3%;
  height: 12vh;
  width: 80%;
}

.divBtnDonate {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  padding: 2%;
}

.packageButtonDonate {
  background-color: #bf8c4c;
  border: none;
  width: 40%;
  height: 6vh;
  cursor: pointer;
  color: white;
  font-size: 4vh;
  transition: 0.3s ease-in-out;
}

.packageButtonDonate:hover {
  transition: 0.3s ease-in-out;
  background-color: #d18c36;
}

.formDonate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#donate {
  width: 50%;
  height: 8vh;
  border: 1px solid rgba(0, 0, 0, 0.401);
  padding: 1%;
}

#submitDonate {
  margin-top: 1.5%;
  width: 50%;
  border: none;
  height: 8vh;
  background-color: #d18c36;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-bottom: 13.4%;
}

#submitDonate:hover {
  transition: 0.3s ease-in-out;
  background-color: #d18c36;
}

#up500Account {
  background-image: url("/public/test\ \(9\).png");
  background-size: cover;
  background-repeat: no-repeat;
}

#up300less500Account {
  background-image: url("/public/test\ \(9\).png");
  background-size: cover;
  background-repeat: no-repeat;
}

#up100less300Account {
  background-image: url("/public/test\ \(9\).png");
  background-size: cover;
  background-repeat: no-repeat;
}

#less100Account {
  background-image: url("/public/test\ \(9\).png");
  background-size: cover;
  background-repeat: no-repeat;
}

#up500 {
  background-image: url("/public/test\ \(9\).png");
  background-size: cover;
  background-repeat: no-repeat;
}

#up300less500 {
  background-image: url("/public/test\ \(9\).png");
  background-size: cover;
  background-repeat: no-repeat;
}

#up100less300 {
  background-image: url("/public/test\ \(9\).png");
  background-size: cover;
  background-repeat: no-repeat;
}

#less100 {
  background-image: url("/public/test\ \(9\).png");
  background-size: cover;
  background-repeat: no-repeat;
}

.divH2AndPDonations {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2%;
}

.divAllPackage {
  display: flex;
  padding: 2%;
}

.pledgedAndTitleAndP {
  width: 50%;
  margin-right: 2%;
}

.packageAmount {
  margin-bottom: 2%;
  font-size: 3.5vh;
}

.packageArrive {
  font-size: 3vh;
}

.divAddOns {
  text-align: center;
  width: 15vh;
  background-color: #e6faf1;
  border-radius: 10%;
  font-size: 3vh;
  margin-top: 2%;
}

.wrapperPackges {
  display: flex;
  flex-direction: column;
}

.allPackges {
  display: f;
}

.resPackges {
  width: 20%;
}

@media only screen and (max-height: 627px) {
  .containerPackages {
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dectibePackge {
    height: 17vh;
  }

  .packageDescribe {
    font-size: 2vh;
  }

  #formDonate {
    width: 68vh;
  }
}
