.navbar {
  margin-top: 0.5%;
  background-color: transparent;
  position: relative;
  z-index: 3;
}

.ulNav {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5%;
}

.ulNav li {
  cursor: pointer;
}

/* .ulNav:hover li {
  color: saddlebrown;
} */

.websiteName {
  text-align: center;
  padding: 0.5%;
}

.linkNav {
  text-decoration: none;
  color: black;
}

.linkNav:hover {
  color: #bf8c4c;
}

.logout:hover {
  color: #bf8c4c;
}
