.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.imgSuccess {
  width: 40%;
  z-index: -1;
}

.h1SuccessPay {
  position: absolute;
  margin-left: 35%;
  margin-top: 1.5%;
}
