.iconNotif {
  font-size: 7vh;
  color: black;
  /* border: 1px solid black; */
  background-color: #d18c36;
  padding: 4px;
  border-radius: 100%;
  cursor: pointer;
}

.containerNotif {
  position: fixed;
  z-index: 99;
  margin-left: 1%;
  bottom: 15px;
  cursor: pointer;
}

.notifs {
  padding: 4px;
  position: fixed;
  z-index: 99;
  margin-left: 1%;
  bottom: 4rem;
  background-color: transparent;
  backdrop-filter: blur(10px);
  color: white;
  width: 15rem;
}

.notHome {
  padding: 4px;
  position: fixed;
  z-index: 99;
  margin-left: 1%;
  bottom: 4rem;
  backdrop-filter: blur(10px);
  color: black;
  width: 15rem;
}

.titleNotif {
  cursor: pointer;
}

.messageNotif {
  cursor: pointer;
}

.divAprrovedAndIcon {
  display: flex;
  justify-content: space-between;
}

.deleteNotif {
  cursor: pointer;
}

.totalNotif {
  color: rgb(0, 0, 0);
  position: absolute;
  margin-left: 40%;
  margin-top: 22%;

}
