.google {
  border: none;
  margin-top: 1%;
  width: 100%;
  height: 6vh;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.google:hover {
  transition: 0.3s ease-in-out;
  background-color: rgb(251, 43, 43);
}

.NotForget {
  cursor: pointer;
  margin-top: 2%;
  transition: 0.1s ease-in-out;
}

.NotForget:hover {
  transition: 0.1s ease-in-out;
  text-decoration: underline;
  color: blue;
}
